In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('diabetes.csv')
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.shape

(768, 9)

In [5]:
df.describe().transpose()  #transposes the matrix

,count,mean,std,min,25%,50%,75%,max
pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
diastolic,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
triceps,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
bmi,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
dpf,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00
diabetes,768.0,0.348958,0.476951,0.000,0.00000,0.0000,1.00000,1.00

In [6]:
# normalizes the predictors
target_column = ['diabetes']
predictors = list(set(list(df.columns))-set(target_column))

In [7]:
df[predictors] = df[predictors] / df[predictors].max()

In [8]:
# summary of the normalized data. We can see that all the independent variables 
# have now been scaled between 0 and 1. The target variable remains unchanged.
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
pregnancies,768.0,0.226180,0.198210,0.000000,0.058824,0.176471,0.352941,1.0
glucose,768.0,0.607510,0.160666,0.000000,0.497487,0.587940,0.704774,1.0
diastolic,768.0,0.566438,0.158654,0.000000,0.508197,0.590164,0.655738,1.0
triceps,768.0,0.207439,0.161134,0.000000,0.000000,0.232323,0.323232,1.0
insulin,768.0,0.094326,0.136222,0.000000,0.000000,0.036052,0.150414,1.0
bmi,768.0,0.476790,0.117499,0.000000,0.406855,0.476900,0.545455,1.0
dpf,768.0,0.194990,0.136913,0.032231,0.100723,0.153926,0.258781,1.0
age,768.0,0.410381,0.145188,0.259259,0.296296,0.358025,0.506173,1.0
diabetes,768.0,0.348958,0.476951,0.000000,0.000000,0.000000,1.000000,1.0

In [9]:
X = df[predictors].values
y = df[target_column].values

In [10]:
# split into test and train sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [11]:
print(X_train.shape); print(X_test.shape)

(537, 8)
(231, 8)

In [12]:
from sklearn.neural_network import MLPClassifier    #Multi-Layer Perceptron Classifier
from sklearn.neural_network import MLPRegressor     #Multi-Layer Perceptron Regressor

Model with the 'hidden_layer_sizes' argument set to three layers, which has the same number of neurons as the count of features (8) in the dataset. We will also select 'relu' as the activation function and 'adam' as the solver for weight optimization.

In [13]:
mlp = MLPClassifier(hidden_layer_sizes = (8,8,8), 
                    activation = 'relu',
                    solver  ='adam',
                    max_iter = 500
                    )

In [14]:
mlp.fit(X_train, y_train)

C:\Users\Kunal Sharma\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Kunal Sharma\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=500,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [15]:
predict_train = mlp.predict(X_train)

In [16]:
predict_test = mlp.predict(X_test)

#### Performance of the model on training data.

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(confusion_matrix(y_train, predict_train))

[[318  40]
 [ 70 109]]

In [19]:
print(classification_report(y_train, predict_train))

              precision    recall  f1-score   support

           0       0.82      0.89      0.85       358
           1       0.73      0.61      0.66       179

    accuracy                           0.80       537
   macro avg       0.78      0.75      0.76       537
weighted avg       0.79      0.80      0.79       537

Performance of the model on training data. The accuracy and the F1 score is around 0.77 and 0.77, respectively.

#### Performance of the model on testing data.

In [20]:
print(confusion_matrix(y_test, predict_test))

[[118  24]
 [ 37  52]]

In [21]:
print(classification_report(y_test, predict_test))

              precision    recall  f1-score   support

           0       0.76      0.83      0.79       142
           1       0.68      0.58      0.63        89

    accuracy                           0.74       231
   macro avg       0.72      0.71      0.71       231
weighted avg       0.73      0.74      0.73       231